
<!DOCTYPE html>
<html lang="en-US">
  
  <head>
    
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/style.css?v=6e83cbbadff9290449ca30266399a5643c556bfc">

    <title>Lesly Vitier</title>
    
  </head>

  <body>

    <header>
      <div class="container">
        <h1>Lesly Vitier</h1>
          <p>Autobiography</p>
        </section>
      </div>
    </header>

  <div class="container">

      <section class="center">
        <h1>Hello</h1>
        <p>
          I am currently a Junior at Florida International University, pursuing my Bachelor’s degree in Information Technology. I have included my social handles below.
        </p>
        
        <p>
          <a href="https://www.instagram.com/lesly_vitier/" target="_blank" class="btn btn-instagram"><span class="icon"></span>Instagram</a>
          <a href="https://www.linkedin.com/in/lesly-vitier-3661a6148/" target="_blank" class="btn btn-linkedin "><span class="icon"></span>LinkedIn</a>
          <a href="mailto:lesly_vitier@live.com" target="_blank" class="btn btn-google"><span class="icon"></span>E-Mail</a>
          </p>
        
      </section>

      <hr>
    
      <section class="education">	
        <h2>Work Experience</h2>
      </section> 
      
      <section class="experience">
        <div class="row">
          <div class="grid-2">
            <h2>M2E Consulting Engineers</h2>
            <p>September 2016 – Present</p>
          </div>
          <div class="grid-4">
            <ul>
              <li> Example of list of duties and responsibilities </li>
              <li> Example of list of duties and responsibilities </li>
              <li> Example of list of duties and responsibilities.</li>
              <li> Example of list of duties and responsibilities </li>
              <li>Example of list of duties and responsibilities>
              <li> Example of list of duties and responsibilities li>
              <li> Example of list of duties and responsibilities </li>
              <li> Example of list of duties and responsibilities </li>
              <li> Example of list of duties and responsibilities </li>
              <li> Example of list of duties and responsibilities </li>
            </ul>
          </div>
        </div>
        
        <div class="row">
          <div class="grid-2">
            <h2>Chick-fil-A</h2>
            <p>December 2013 – September 2016</p>
          </div>
          <div class="grid-4">
            <ul>
              <li> Example of list of duties and responsibilities </li>
              <li> Example of list of duties and responsibilities </li>
            </ul>
          </div>
        </div>
        
      </section>    
    
    <hr>

    <!-- New container-->
    <div class="container">

      <section class="education">	
        <h2>Education</h2>
      </section>
      
      <section class="experience">
        <div class="row">
          <div class="grid-2">
            <h2>BACHELOR OF SCIENCE</h2>
            <h2>FLORIDA INTERNATIONAL UNIVERSITY</h2>
            <p>April 2020</p>
          </div>
          <div class="grid-4">
            <ul>
              <li> Examples of Accomplishments </li>
              <li> Examples of Accomplishments </li>
              <li>Examples of Accomplishments</li>
              
            </ul>
          </div>
        </div>
        
        <div class="row">
          <div class="grid-2">
            <h2>ASSOCIATE OF ARTS</h2>
            <h2>MIAMI DADE COLLEGE</h2>
            <p>May 2018</p>
          </div>
          <div class="grid-4">
            <ul>
              <li>Major: Computer Science</li>
              <li>Graduated with 3.5 GPA</li
            </ul>
          </div>
        </div>
        
      </section>

      <hr>

      <section>
        <!--List of skills-->
        <div class="row">
          <div class="grid-2">
            <h1>Skills</h1>
          </div>

          <div class="grid-4">
            <ul>
              <li>Database: MSSQL & SQL</li>
              <li>Cloud:Microsoft Azure (IAAS)</li>
              <li>Programming: Java, C, C#, C++</li>
              <li>Scripting: Python, PowerShell & Unix shell scripting</li>
              <li>Website:HTML & JavaScript</li>
              <li>Management software: ServiceNow, Content Manager Desktop & SolarWinds</li>
              <li>OS: Windows, Linux, VMWare & Mac</li>
            </ul>
          </div>
        </div>
      </section>

      <!--Footer-->
      <footer class="center">
        <hr>
        <span>&copy; deathlylesly</span>
      </footer>

    </div><!-- End Container -->

  </body>
</html>

